a,.navbar-brand,
.breadcrumb-wrapper ul li a,.download-csv a,
.pagination > li > a,.navbar-brand span:first-of-type,
.annotations-topic-list span  {
  color: #17A9A8;
}

.navbar-brand:hover {
  color: #17A9A8!important;
}

.btn-search,.btn-form-search, .btn-compare,
.btn-login-block,
.pagination > .active > a,
.pagination > .active > span,.back,.pdf-zoom-options span.scale-selected:before,
.annotations-topic-list > .selected-topic {
  background-color: #17A9A8;
}

.pagination > .active > a ,.pagination > .active > span,
.btn-search, .download-csv {
  border: 1px solid #0B9C9B;
}

.search-results-list .close {
  border-color: #0B9C9B;
}

#sidebar-wrapper {
  background-image: -webkit-linear-gradient(351deg, #0D2424 1%, #206362 100%);
  background-image: -o-linear-gradient(351deg, #0D2424 1%, #206362 100%);
  background-image: linear-gradient(81deg, #0D2424 1%, #206362 100%);
}

.sidebar-brand {
  background-blend-mode: multiply;
}

/*hover effects*/

a:hover,a:focus,
.pagination > li > a:focus,.pagination > li > a:hover,
.pagination > li > span:focus,.pagination > li > span:hover,
.search-result-row:hover  {
  color: #0B9C9B;
}

.btn-search:hover,.btn-form-search:hover, .btn-search:focus,
.btn-compare:hover,.btn-compare:focus,
.btn-login-block:hover, .btn-login-block:hover:focus,
a.view-annotation-cluster:hover,a.view-annotation-cluster.active,
.pagination > .active > a,.pagination > .active > a:focus,.pagination > .active > a:hover,
.pagination > .active > span:focus,.pagination > .active > span:hover,
.action-links ul li a:hover,
.contract-back:hover,.back:hover,.search-results-list .close:hover {
  background-color: #0B9C9B;
}

.pagination > .active > a:focus,.pagination > .active > a:hover,
.pagination > .active > span:focus,.pagination > .active > span:hover,
.btn-search:hover, .btn-search:focus {
  border: 1px solid #0B9C9B;
}
